{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "html"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "settings": {
    "html/html-extensions": [".html"],
    "html/indent": "+2"
  },
  "globals": {
    "$": false,
    "index": false,
    "moTool": false,
    "R": false
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
    }],
    "no-const-assign": 2,
    "no-mixed-spaces-and-tabs": [2, false],
    "linebreak-style": "off",
    "no-unneeded-ternary": 2,
    "camelcase": 2,
    "space-after-keywords": ["error", "always"],
    "indent": ["error", 2],
    "func-names": ["warn", "never"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "radix": ["error", "as-needed"],
    "semi": ["error", "never"],
    "strict": ["error", "safe"],
    "vars-on-top": "off",
    "wrap-iife": ["error", "inside"]
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "overrides": [
    {
      "files": ["*.html", "*.js", "*.njs"],
      "rules": {
        "strict": ["error", "never"]
      }
    }
  ]
}
